body {
    background-color: tomato;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: right bottom;
    /*background: color url() no-repeat right; */
}