.flax-container {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-flow: row wrap; */
    /* justify-content: center;
    align-items: center; */
}

.flax-container>div {
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: burlywood;
}