.div1{
	height: 400px;
	width: 400px;
	position: absolute;
	background-color: red;
	z-index:0;
}

.div2{
	background: var(--ab);
	z-index: 2;
	height: 400px;
	width: 400px;
	position: absolute;
	background-color: green;
	left: 100px;
	top: 100px
}

@media screen and (max-width: 600px){
		:root {
	--ab: blue;
}
}